{% extends "layout.html" %}{% block content %}

<h1>Hey FCC!</h1>

<h2>
    The FCC is caving to lobbyists and trying to kill net neutrality. They want to let ISPs like Comcast slow down and censor websites and make all of us pay more for less Internet. So we’re sending them letters ... on our cable bills. Print your bill, remove your personal info, write a message, and snap a selfie with it. We'll deliver your message to the FCC!


</h2>

<a class="post" href="#participate"><div></div>Snap Selfie</a>

<p class="disclosure">Your message to the FCC will show up <a href="https://twitter.com/OhHeyFCC" target="_blank">here.</a></p>

<img src="/static/images/laila.jpg" class="example"/>

<!--
<section class="cta">

    <img src="/static/images/laila.jpg" class="example"/>

    <main>
        <p>
            <strong>
                Net Neutrality is on the chopping block.
            </strong>
        </p>
        <p>
            The FCC's new chairman Ajit Pai — a former Verizon lobbyist — is
            planning to strike down the Net Neutrality protections that millions of
            Americans fought for. Without Net Neutrality, big ISPs like Comcast or
            Time Warner cable can charge exorbitant fees for access to an Internet
            “fast lane” or even censor web sites entirely.
        </p>
        <p>
            These same ISPs are tied to mainstream media
            conglomerates that own and control so much of what people see
            and hear on TV, the radio, movies, and the Internet. Without
            Net Neutrality, these companies will be free to
            squeeze Internet media out of the picture and further control
            America's access to information. 
            <a href="https://www.cnet.com/news/verizon-to-fcc-free-speech-trumps-net-neutrality-rules/" target="_blank">
            They believe they have a "Free Speech" right to censor the Internet.
            </a>
        </p>
        
        <p>
            Net Neutrality has been framed as a partisan issue by globalist
            Republican Congressmen who have received millions in donations from
            ISPs and media companies. But in reality, Net Neutrality is essential to
            protecting the Internet as a free market of ideas and competitive
            enterprise.
        </p>
        
    </main>

</section>
-->

<footer>
    <p>A project of <a href="https://www.fightforthefuture.org" target="_blank">Fight for the Future</a>.</p>
    <p><a href="https://www.fightforthefuture.org/privacy" target="_blank" class="privacy">Privacy Policy</a></p>
    <p id="user_agent">user_agent</p>
</footer>

{% endblock %}
